# Server Status
hostname: {{ ansible_hostname }}

osversion: {{ ansible_distribution }} {{ ansible_distribution_release }} {{ ansible_distribution_version }}

swaptotal: {{ ansible_swaptotal_mb }} MiB
